textarea {
  resize: none;
}
.redBackground {
  background: crimson;
}

.contact-page .descTitle {
  text-align: left;
  margin-inline: 0px;
  margin-top: 2rem;
}
.contact-page {
  min-height: 100vh;
}

.socialLink {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 0.2s ease-in;
  margin: 1rem;
  margin-left: 0rem;
}
.socialLink:hover {
  opacity: 0.6;
}

.contactSocialLinks {
  display: flex;
}
.contactSocialLinks a {
  color: white;
}

.sendMessage form {
  width: 90%;
  max-width: 400px;
  padding: 1rem 0rem;
  padding-left: 0.5rem;
}
.sendMessage form .formItem {
  display: block;
  width: 95%;
  margin: auto;
  margin: 0.7rem 0;
  outline: 0;
  padding: 0.5rem;
  font-family: poppins;
  font-size: 0.7rem;
  border: 1.4rem solid #f5f5f5;
}
.sendMessage .callToAction {
  width: 95%;
}

/* ==========================================================
==========================================================
========================================================== */

.about-page,
.winery {
  min-height: 70vh;
}
.about-page .descText {
  width: 100%;
}

.aboutFlexContainer {
  width: 90%;
  margin: 2rem auto;
}
.aboutFlexContainer .imgSection {
  margin: 1rem 0rem;
}

@media (min-width: 37rem) {
  .aboutFlexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .aboutFlexContainer .imgSection {
    width: 40%;
    min-width: 350px;
  }
  .aboutFlexContainer .aboutTextSection {
    width: 55%;
  }

  .aboutFlexContainer .descText {
    width: 90%;
    max-width: 700px;
  }
}
