.productFlexWrapper {
  /* display: flex; */
  justify-content: space-between;
}
.openedProductPage {
  min-height: 70vh;
}
.flexItem {
  width: 100%;
}
.productPageImgWrapper {
  width: 100%;
  height: 100%;
}
.flexItem img {
  width: 100%;
}

.buyBtn {
  display: block;
  outline: none;
  margin: 1rem auto;
  border: none;
  color: white;
  font-family: 'quicksand', sans-serif;
  font-size: var(--fs-sm);
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 6px;
  max-width: 30rem;
}
.mainAddToCartButton {
  width: 100%;
  height: 100%;
  display: block;
}
.addToCart {
  background: var(--mainRed);
}
.productPlaceOrder {
  background: var(--mainGreen);
}

.desktopTitle {
  display: none;
}

@media (min-width: 50rem) {
  .productFlexWrapper {
    display: flex;
  }
  .desktopTitle {
    display: block;
    text-align: center;
    margin: 1rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
}
.overlay .overlayContainer {
  width: 90%;
  height: auto;
  padding: 1rem;
  background-color: white;
  max-width: 600px;
  position: absolute;
}
